head
  title TomTask
  meta(name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link(rel="shortcut icon" type="image/x-icon" href="https://aserver.xyz/tomtask/favicon.ico")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  link(href='https://aserver.xyz/tomtask/style.css', rel='stylesheet')
  meta(name="apple-mobile-web-app-title" content="TomTask")
  meta(name="application-name" content="TomTask")
  meta(name="msapplication-TileColor" content="#EEF100")
  meta(name="theme-color" content="#000000")

template(name="userFormsLayout")
  section.auth-layout
    section.auth-dialog
      if isLoading
        +loader
      else
        +Template.dynamic(template=content)
        if currentSetting.displayAuthenticationMethod
          +connectionMethod(authenticationMethod=currentSetting.defaultAuthenticationMethod)
        div.at-form-lang
          select.select-lang.js-userform-set-language
            each languages
              if isCurrentLanguage
                option(value="{{tag}}" selected="selected") {{name}}
              else
                option(value="{{tag}}") {{name}}

template(name="defaultLayout")
  +header
  #content
    | {{{afterBodyStart}}}
    +Template.dynamic(template=content)
    | {{{beforeBodyEnd}}}
  if (Modal.isOpen)
    #modal
      .overlay
      if (Modal.isWide)
        .modal-content-wide.modal-container
          a.modal-close-btn.js-close-modal
            i.fa.fa-times-thin
          +Template.dynamic(template=Modal.getHeaderName)
          +Template.dynamic(template=Modal.getTemplateName)
      else
        .modal-content.modal-container
          a.modal-close-btn.js-close-modal
            i.fa.fa-times-thin
          +Template.dynamic(template=Modal.getHeaderName)
          +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    unless currentUser
      with(pathFor route='atSignIn')
        p {{{_ 'page-maybe-private' this}}}

template(name="loader")
  h1.loadingText {{_ 'loading'}}
  .lds-roller
    div
    div
    div
    div
    div
    div
    div
